:root {
  font-family: Arial, sans-serif, Inter, system-ui, Avenir, Helvetica;
  line-height: 1.5;
  font-weight: 400;
  font-size: 14pt;

  color-scheme: light dark;
  color: black;
  background-color: white;
  --uci-blue: #255799;
  --uci-gold: #fecc07;
  --dark-blue: #1B3D6D;
  --light-gray: #C6BEB5;
  --smoke: #333333;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Montserrat";
  src:
    url("../assets/fonts/Montserrat-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url(/assets/fonts/Montserrat-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url(../assets/fonts/Montserrat-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RobotoSlab";
  src:
    url("../assets/fonts/RobotoSlab-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RobotoSlab";
  src:
    url("../assets/fonts/RobotoSlab-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}
