header {
  width: 100vw;
  background-color: var(--uci-blue);
  padding-left: 2rem;
  padding-top: 2rem;
}

#uci, #department, #program {
  color: #ffffff;
}

#uci-department {
  height: max-content;
  display: flex;
  flex-direction: row;
  gap: 0.9rem;
}

#uci, #department {
  font-family: "Montserrat";
}

#uci {
  line-height: normal;
  height: min-content;
  font-size: 3rem;
  font-weight: 800;
  display: inline-block;
  line-height: 0.7;
  margin-bottom: 0.1rem;
}

#department {
  display: flex;
  flex-direction: column;
}
#department span {
  line-height: 0.6;
  height: 1rem;
  width: max-content;
  align-items: center;
  font-size: 1rem;
}

#first {
  margin-top: 0.1rem;
  margin-bottom: 0.35rem;
}

#program {
  font-family: RobotoSlab;
  font-weight: normal;
  font-size: 1.2rem;
  margin-top: 0.8rem;
  margin-left: 0.2rem;
  padding-bottom: 0.8rem;
  width: max-content;
}